.dashboard-page {
  width: 750px;
  margin-left: auto;
  margin-right: auto;

  .question-list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    gap: 8px;
    padding: 0;
  }

  .dashboard-page-switch {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767.98px) {
  .dashboard-page {
    width: 100%;

    .question-list {
      grid-template-columns: 1fr 1fr;
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}

@media (max-width: 575.98px) {
  .dashboard-page {
    width: 100%;
    .dashboard-page-switch {
      flex-direction: column;
    }
    .question-list {
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}
